{% load static %}
{# mysite/templates/base.html #}
<!DOCTYPE html>
<html>
  <head>
    <title>TacoPythons Blog</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <link type="text/css" rel="stylesheet" href="{% static 'blog.css' %}">
  </head>
  <body>
    <div id="header">  {# header begins here #}
   <ul id="control-bar">
   {% if user.is_authenticated %}
    {% if user.is_staff %}<li><a href="{% url 'admin:index' %}">admin</a></li>{% endif %}
     <li><a href="{% url 'logout' %}">logout</a></li>
    {% else %}
     <li><a href="{% url 'login' %}">login</a></li>
   {% endif %}
   </ul>
  </div>
    <div class="page-header">  {# header begins here #}
        <div>
            <h1><a href="/">TacoPythons</a>
                <img src="{% static 'images/TacoPythons.jpg' %}" alt="My image" style="float:right"
>
            </h1>
        </div>
    </div>
    <div id="container">
      <div id="content">
      {% block content %}
       [content will go here]
      {% endblock %}
      </div>
    </div>
  </body>
</html>