{% extends "base.html" %}{% block content %}
<h2>NewCoolPosts:</h2>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
  {% comment %} here is where the query happens {% endcomment %}
    <div class="content container">
      <div class="row">
          <div class="col-md-8">
              {% for post in object_list %}
                  <div class="post">
                      <div class="date">
                          <p>published: {{ post.published_date }}</p>
                      </div>
                      <h3><a href="{% url 'blog_detail' post.pk %}""">{{ post.title }}</a></h3>
                      <p>{{ post.text|linebreaksbr }}</p>
                      <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                  </div>
              {% endfor %}
          </div>
      </div>
    </div>
{% endblock %}
